.slideshow-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  ul {
    height: 100%;
    position: absolute;
    list-style-type: none;
    .slideItem {
      float: left;
      height: 100%;
      .item-img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .slider-dots-wrap {
    width: pxToRem(165px);
    height: pxToRem(40px);
    position: absolute;
    bottom: pxToRem(18px);
    left: 50%;
    margin-left: pxToRem(-60px);
    padding: 0 pxToRem(20px);
    border-radius: pxToRem(20px);
    background: rgba(0,0,0,7);
    .slider-dots-item {
      width: pxToRem(20px);
			height: pxToRem(20px);
      float: left;
			border-radius: 50%;
			margin: pxToRem(10px) pxToRem(10px);
      cursor: pointer;
      list-style-type: none;
      background:rgba(255,255,255,.7);
    }
    .current {
      background: rgba(255,255,255,1);
    }
  }
  .arrow {
    width: pxToRem(60px);
    height: pxToRem(60px);
    // background: pink;
    position: absolute;
    top:50%;
    cursor: pointer;
  }
  .leftArrow {
    left: pxToRem(60px);
    background-image: url('./../../../images/icon/round_left_fill.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .rightArrow {
    right: pxToRem(60px);
    background-image: url('./../../../images/icon/round_right_fill.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}